{% extends 'base.html' %}
{% load static %}

{% block page_title %}Password Reset{% endblock %}

{% block content %}
<div class="main">
    <section class="sign-in">
        <div class="container">
            <div class="card border-0 p-2">
                <div class="card-body">
                    <h2 class="form-title text-center mb-4" style="font-weight: bold; color: #3575d3;">Password Reset</h2>
                    <form method="POST" class="password-rest-form" id="password-rest-form">
                        {% csrf_token %}
                        <!-- Display Alert Message -->
                        <div class="container-fluid p-0">
                            <div id="alert" role="alert">
                                <p></p>
                            </div>
                        </div>
                        <!-- End Alert Message -->
                        <p class="text-center">Please enter your registered email!</p>
                        <div class="row mb-3">
                            <div class="col">
                                <h6 class="mb-2"><strong>Username</strong></h6>
                                <input type="email" class="form-control p-2" placeholder="vicolas@gmail.com" name="email" id="email" required/>
                            </div>                
                        </div>
                        <div class="form-group form-button justify-content-center text-center mb-2">
                            <input type="submit" name="submit" id="submit" class="form-submit m-0" value="submit"/>                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}