{% load i18n %}{% autoescape off %}
<html>
    <body>
        <h3>Hi <strong>{{ first_name }}!</strong></h3> 

        <p>You're receiving this email because you requested a password reset for your user account.</p>

        <p>{% trans "Click the link below to reset your password:" %}</p> 

        {{ reset_password_url }}

        <p>If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.</p>

        {% trans "Thanks for using our site!" %}

        <p>Sincerely,</p>
        <p>The FaceAttendanceApp Team</p>    
    </body>   
</html>
{% endautoescape %}