{% extends 'base.html' %}
{% load static %}

{% block page_title %}Activated Successfully{% endblock %}
{% block content %} 
    <div class="container">
        <div class="row align-items-center justify-content-center" style="height:100vh;">     
            <div class="card shadow mb-3" style="max-width: 18rem;">
                <div class="card-header p-3">
                    <strong>Account Activated</strong>
                </div>
                <div class="card-body p-3">
                    <h5 class="card-title"><strong>Congratulations!</strong></h5>
                    <p class="card-text">Your account have been activated successfully. You can now login.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}