{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main">
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-form">
                    <h2 class="form-title text-center" style="font-weight: bold; color: #3575d3;">Admin</h2>
                    <form method="POST" class="register-form" id="login-form" action="{% url 'facial:dashboard' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="your_name"><i class="bi bi-person-fill"></i></label>
                            <input type="text" name="your_name" id="your_name" placeholder="Username"/>
                        </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="bi bi-key-fill"></i></label>
                            <input type="password" name="your_pass" id="your_pass" placeholder="Password"/>
                        </div>
                        <div class="form-group form-button justify-content-center text-center">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
    
{% endblock content %}